* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
    max-width: 960px;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
    background: #2F7336;  
background: -webkit-linear-gradient(to top, #AA3A38, #2F7336);  
background: linear-gradient(to top, #AA3A38, #2F7336); 
    background-size: cover;
    color: #fafafa;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 5% 0 5%;
}

main {
    padding: 0 5% 0 5%;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, #div1 {
    font-family: 'Merriweather', serif;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

button {
    color: #4080CC;
    background-color: #ff776a;
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

img {
    max-width: 100%;
}

#photo-hound {
    width: 500px;
    max-width: 100%;
    display: block;
    float: right;
    padding: 1rem 0 0.5rem 2rem;
}

#logo {
    width: 150px;
    max-width: 100%;
    align-self: center;
    margin-right: 2rem;
    border-radius: 50%;
}

figcaption {
    text-align: center;
}

@media (min-width: 700px) {
    body {
        font-size: 20px;
    }
}